@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

#counter {
  display: flex;
  width: 100%;
  justify-content: center;
  
  & #counter-content {
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 200px;
    color: #2D3C40;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 1px 1px 12px #555;
  }

}
